.banner {
  width: 90%;
  margin-left: 5%;
  display: grid;
  place-content: center;
  margin-bottom: 3em;
}

.subBannerOne {
  display: flex;
  flex-direction: column;
  font-family: 'Tajawal', sans-serif;
}

.imgBanner {
  display: grid;
  place-content: center;
}

.iconBanner {
  width: 15vh;
  height: auto;
}

.Title {
  font-size: 25px;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid;
}

.titlePart {
  color: rgb(119, 144, 253);
}

.redes {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.linkRedes {
  display: flex;
  flex-direction: row;
  gap: 3px;
  text-decoration: none;
  padding: 5px;
  border-radius: 6px;
}


.linkRedesRow:hover {
  scale: 1.1;
  background: #f4eeff;
}

.linkRedes:hover {
  scale: 1.1;
  background: #f4eeff;
}

.iconRed {
  width: 80%;
  height: auto;
}

.nameAuth {
  font-size: 15px;
  color: #252525;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  display: grid;
  place-content: center;
}

.BoxPresentation {
  width: 90%;
  margin-left: 5%;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background: whitesmoke;
  border-radius: 1em;
}

.card:hover {
  background: #f4eeff;
}

.card:hover {
  scale: 1.01;
}

.iconcard {
  display: grid;
  place-content: center;
}

.iconSubCard {
  width: 4vh;
  height: auto;
}

.card p {
  text-align: center;
}

.linkPresentation {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 3px;
  padding: 5px;
  border-radius: 1em;
}


.linkPresentation p {
  margin: 0;
  display: grid;
  place-content: center;
  color: black;
}

.subImgLink {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.iconLink {
  width: 80%;
  height: auto;
}