.principalBox {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: 'Nunito', sans-serif;
}

.imgSubBox {
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.iconBanner {
    width: 70%;
    height: auto;
    mix-blend-mode: color-burn;
}

.textSubBox {
    flex-basis: 400px;
    flex-grow: 1;
    display: grid;
    place-content: center;
    text-align: center;
}

.textSubBox h3 {
    text-align: center;
}