.titleTable {
    font-family: 'Nunito', sans-serif;
}

.groups {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.firstGroup {
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.secondGroup {
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.subCard {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.imgSubBox {
    display: grid;
    place-content: center;
}

.explain {
    text-align: start;
    font-family: 'Nunito', sans-serif;
}

.iconsSubImg {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .subCard {
        display: flex;
        flex-wrap: wrap;
    }

    .iconsSubImg {
        width: 100%;
        height: auto;
    }
}