.mainFinal {
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
}

.submainFinal {
    display: flex;
    flex-direction: column;
}

.submainFinal p {
    text-align: center;
    font-size: 5vw;
    margin: 0;
}

.boxBtnFinal {
    display: grid;
    place-content: center;
}

.btnHome {
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.btnHome:hover {
    background: #d8d8d8;
    border-radius: 1em;
}